<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- AjaxSearch -->
   <modules>
       <Fedobe_AjaxSearch>
           <version>1.2.0</version>
       </Fedobe_AjaxSearch>
   </modules>
   <global>
        <helpers>
            <ajaxsearch>
                <class>Fedobe_AjaxSearch_Helper</class>
            </ajaxsearch>
        </helpers>
        <models>
            <ajaxsearch>
                <class>Fedobe_AjaxSearch_Model</class>
                <resourceModel>ajaxsearch_mysql4</resourceModel>
            </ajaxsearch>
            <ajaxsearch_mysql4>
                <class>Fedobe_AjaxSearch_Model_Mysql4</class>
            </ajaxsearch_mysql4>
        </models>
        <resources>
            <ajaxsearch_setup>
                <setup>
                    <module>Fedobe_AjaxSearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxsearch_setup>
            <ajaxsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxsearch_write>
            <ajaxsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxsearch_read>
        </resources>
    </global>
    <default>
        <ajax_search>
            <general>
                <enabled>0</enabled>
                <minchars>3</minchars>
                <maxheight>300</maxheight>
                <width>300</width>
                <searchfieldtext>Search entire store here...</searchfieldtext>
                <productstoshow>10</productstoshow>
                <enableloader>1</enableloader>
                <sortby>name</sortby>
                <sortorder>asc</sortorder>
                <enabledescription>1</enabledescription>
                <descriptionchars>50</descriptionchars>
                <enableimage>1</enableimage>
                <imageheight>50</imageheight>
                <imagewidth>50</imagewidth>
                <enableleft>0</enableleft>
                <enableright>0</enableright>
                <headertext>See all result on</headertext>
                <footertext>See all result on</footertext>
                <enablecatalog>0</enablecatalog>
                <enablecms>0</enablecms>
            </general>
        </ajax_search>
    </default>
    <frontend>
        <layout>
            <updates>
                <ajaxsearch>
                    <file>fedobe/ajaxsearch/ajaxsearch.xml</file>
                </ajaxsearch>
            </updates>
        </layout>
        <routers>
            <ajaxsearch>
                <use>standard</use>
                <args>
                    <module>Fedobe_AjaxSearch</module>
                    <frontName>ajaxsearch</frontName>
                </args>
            </ajaxsearch>
        </routers>
        <translate>
            <modules>
                <Fedobe_Ajaxsearch>
                    <files>
                        <default>Fedobe_Ajaxsearch.csv</default>
                    </files>
                </Fedobe_Ajaxsearch>
            </modules>
        </translate>
   </frontend>
   <adminhtml>
        <translate>
            <modules>
                <Fedobe_Ajaxsearch>
                    <files>
                        <default>Fedobe_Ajaxsearch.csv</default>
                    </files>
                </Fedobe_Ajaxsearch>
            </modules>
        </translate>
    </adminhtml>
</config>
