<?xml version="1.0"?>
<config>
    <modules>
        <Fedobe_AjaxLogin>
            <version>0.2.2</version>
        </Fedobe_AjaxLogin>
    </modules>
    <global>
        <helpers>
            <ajaxlogin>
                <class>Fedobe_AjaxLogin_Helper</class>
            </ajaxlogin>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ajaxlogin>
                <use>standard</use>
                <args>
                    <module>Fedobe_AjaxLogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </ajaxlogin>
        </routers>
        <layout>
            <updates>
                <Fedobe_AjaxLogin>
                    <file>fedobe/ajaxlogin/ajaxlogin.xml</file>
                </Fedobe_AjaxLogin>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <!-- Backend translation file -->
        <translate>
            <modules>
                <Fedobe_AjaxLogin>
                    <files>
                        <default>Fedobe_AjaxLogin.csv</default>
                    </files>
                </Fedobe_AjaxLogin>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <ajaxlogin>
            <options>
                <enable>1</enable>
            </options>
        </ajaxlogin>
    </default>
</config>
