<?xml version="1.0"?>
<config>
    <modules>
        <Fedobe_AttributeSplash>
            <version>3.3.8.10</version>
        </Fedobe_AttributeSplash>
    </modules>
    <global>
        <helpers>
            <attributeSplash>
                <class>Fedobe_AttributeSplash_Helper</class>
            </attributeSplash>		
        </helpers>
        <blocks>
            <attributeSplash>
                <class>Fedobe_AttributeSplash_Block</class>
            </attributeSplash>
        </blocks>
        <models>
            <catalogrule>
                <rewrite>
                    <rule_condition_combine>Fedobe_AttributeSplash_Model_Rule_Condition_Combine</rule_condition_combine>
                    <rule_condition_product>Fedobe_AttributeSplash_Model_Rule_Condition_Product</rule_condition_product>
                </rewrite>
            </catalogrule>
            <attributeSplash>
                <class>Fedobe_AttributeSplash_Model</class>
                <resourceModel>attributeSplash_resource</resourceModel>
            </attributeSplash>
            <attributeSplash_resource>
                <class>Fedobe_AttributeSplash_Model_Resource</class>
                <entities>
                    <page>
                        <table>attributesplash_page</table>
                    </page>
                    <page_store>
                        <table>attributesplash_page_store</table>
                    </page_store>
                </entities>
            </attributeSplash_resource>
        </models>
        <resources>
            <attributeSplash_setup>
                <setup>
                    <module>Fedobe_AttributeSplash</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </attributeSplash_setup>
            <attributeSplash_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </attributeSplash_read>
            <attributeSplash_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </attributeSplash_write>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <attributeSplash>
                        <class>Fedobe_AttributeSplash_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </attributeSplash>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <attributeSplash before="Mage_Adminhtml">Fedobe_AttributeSplash_Adminhtml</attributeSplash>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <attributeSplash>
                    <file>attribute-splash.xml</file>
                </attributeSplash>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <attributeSplash>
                <use>standard</use>
                <args>
                    <module>Fedobe_AttributeSplash</module>
                    <frontName>splash</frontName>
                </args>
            </attributeSplash>
        </routers>
        <layout>
            <updates>
                <attributeSplash>
                    <file>attribute-splash.xml</file>
                </attributeSplash>
            </updates>
        </layout>
    </frontend>
    <default>
        <attributeSplash>
            <page>
                <column_count>4</column_count>
            </page>
            <group>
                <column_count>4</column_count>
            </group>
            <navigation>
                <enabled>1</enabled>
            </navigation>
            <seo>
                <url_suffix>.html</url_suffix>
            </seo>
            <missing_addon>
                <quickcreate>1</quickcreate>
                <xmlsitemap>1</xmlsitemap>
            </missing_addon>
        </attributeSplash>
    </default>
</config>