<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

 <config>
    <modules>
        <Fedobe_Sortby>
            <version>0.1.0</version>
        </Fedobe_Sortby>
    </modules>
    <global>
        
        <helpers>
        <sortby>
            <class>Fedobe_Sortby_Helper</class>
        </sortby>
        </helpers>
        
        <blocks>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Fedobe_Sortby_Block_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <product_list>Fedobe_Sortby_Block_Product_List</product_list>
                </rewrite>
            </catalog>
            <sortby>
                <class>Fedobe_Sortby_Block</class>
            </sortby>
        </blocks>
        
        <models>
            <catalog>
                <rewrite>
                    <config>Fedobe_Sortby_Model_Config</config>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_collection>Fedobe_Sortby_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <sortby>
                <class>Fedobe_Sortby_Model</class>
            </sortby>
        </models>
    </global>
    <frontend>
        <routers>
            <sortby>
                <use>standard</use>
                <args>
                    <module>Fedobe_Sortby</module>
                    <frontName>sortby</frontName>
                </args>
            </sortby>
        </routers> 
           
       </frontend>
       <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sortby_options>
                                            <title>Store sort by Module Section</title>
                                        </sortby_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>