<?xml version="1.0"?>
<config>
    <modules>
        <Fedobe_Avatar_GlobalSetting>
            <version>0.1.0</version>
        </Fedobe_Avatar_GlobalSetting>
    </modules>
    <global>
        <models>
            <globalsetting>
                <class>Fedobe_Avatar_GlobalSetting_Model</class>
                <!--<resourceModel>fedobe_globalsetting_resource</resourceModel>-->
            </globalsetting>
<!--            <fedobe_globalsetting_resource>
                <class>Fedobe_Avatar_GlobalSetting_Model_Resource</class>
                <entities>
                    <globaloptions>
                        <table>fedobe_global_settings</table>
                    </globaloptions>
                    <moduleuniquename>
                        <table>fedobe_module_unique_name</table>
                    </moduleuniquename>
                    <designattributes>
                        <table>fedobe_design_attribute_name</table>
                    </designattributes>
                    <designattributesvalue>
                        <table>fedobe_design_attribute_value</table>
                    </designattributesvalue>
                </entities>
            </fedobe_globalsetting_resource>-->
        </models>
<!--        <resources>
            <fedobe_globalsetting_setup>
                <setup>
                    <module>Fedobe_Avatar_GlobalSetting</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fedobe_globalsetting_setup>
            <fedobe_globalsetting_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fedobe_globalsetting_write>
            <fedobe_globalsetting_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fedobe_globalsetting_read>
        </resources>-->
        <blocks>
            <globalsetting>
                <class>Fedobe_Avatar_GlobalSetting_Block</class>
            </globalsetting>
        </blocks>
        <helpers>
            <globalsetting>
                <class>Fedobe_Avatar_GlobalSetting_Helper</class>
            </globalsetting>
        </helpers>
    </global>
    <default>
        <global_options>
            <general>
                <global_color></global_color>
                <global_setting>classic</global_setting>
            </general>
            <advance>
                <advance_global_setting_enable>0</advance_global_setting_enable>
            </advance>
        </global_options>
    </default>
</config>