

<div style="background:#FFFFFF; width:650px;border:8px solid #ED3C3C; position: relative;">
	<div style=" text-align: left;margin-top: 12px;margin-left:4px"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
	<div style=" text-align: right; background:black; width:20px; color: #ffffff; border: 1px solid #d9d9d9;margin-left:545px;width: 100px;height: 45px;text-align: center;font-size: 17px;">Expries on {{var exparies_on}}</div>
          </div>
          
		<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear&nbsp;{{var username}}</h1>
        <h3 style="font-size:16px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Here&#39;s your Coupon Code!</h3>
        <div style=" margin-left: 146px;width: 360px;left: 22%;margin-bottom: 10px;border-radius: 16px;border: 7px solid #2AA7A7;"><img src="{{var coupon_img}}"  alt="gift card" style="width: 100%;" border="0"/>
   <div style="text-align: center;text-align: center;background-color: #fff;max-width: 450px;box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    position: absolute;
    width: 320px;
    bottom: 8px;
    font-weight: 400;
    font-size: 1.875em;
    border-radius: 2px;
    border: 1px dashed #e5e5e5;
    padding: 0.4em 0.5em;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    color: #777;
    line-height: 1;
    margin-left: 5px;
		" border="0"/>{{var coupon_code}}</td>
         </div>
</div>
		 
		 
		 
		 
		 
		 
		 
		 
		 
                