<?xml version="1.0"?>
<config>
    <modules>
        <Fedobe_Landingpage>
            <version>3.3.8.10</version>
        </Fedobe_Landingpage>
    </modules>
    <global>
        <helpers>
            <landingpage>
                <class>Fedobe_Landingpage_Helper</class>
            </landingpage>		
        </helpers>
        <blocks>
            <landingpage>
                <class>Fedobe_Landingpage_Block</class>
            </landingpage>
        </blocks>
        <models>
            <catalogrule>
                <rewrite>
                    <rule_condition_combine>Fedobe_Landingpage_Model_Rule_Condition_Combine</rule_condition_combine>
                    <rule_condition_product>Fedobe_Landingpage_Model_Rule_Condition_Product</rule_condition_product>
                </rewrite>
            </catalogrule>
            <landingpage>
                <class>Fedobe_Landingpage_Model</class>
                <resourceModel>landingpage_resource</resourceModel>
            </landingpage>
            <landingpage_resource>
                <class>Fedobe_Landingpage_Model_Resource</class>
                <entities>
                    <page>
                        <table>landingpage_page</table>
                    </page>
                    <page_store>
                        <table>landingpage_page_store</table>
                    </page_store>
                </entities>
            </landingpage_resource>
        </models>
        <resources>
            <landingpage_setup>
                <setup>
                    <module>Fedobe_Landingpage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </landingpage_setup>
            <landingpage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </landingpage_read>
            <landingpage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </landingpage_write>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <landingpage>
                        <class>Fedobe_Landingpage_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </landingpage>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <landingpage before="Mage_Adminhtml">Fedobe_Landingpage_Adminhtml</landingpage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <landingpage>
                    <file>landing-page.xml</file>
                </landingpage>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <landingpage>
                <use>standard</use>
                <args>
                    <module>Fedobe_Landingpage</module>
                    <frontName>splash</frontName>
                </args>
            </landingpage>
        </routers>
        <layout>
            <updates>
                <landingpage>
                    <file>landing-page.xml</file>
                </landingpage>
            </updates>
        </layout>
    </frontend>
    <default>
        <landingpage>
            <page>
                <column_count>4</column_count>
            </page>
            <group>
                <column_count>4</column_count>
            </group>
            <navigation>
                <enabled>1</enabled>
            </navigation>
            <seo>
                <url_suffix>.html</url_suffix>
            </seo>
            <missing_addon>
                <quickcreate>1</quickcreate>
                <xmlsitemap>1</xmlsitemap>
            </missing_addon>
        </landingpage>
    </default>
</config>