<?xml version="1.0"?>
<config>
    <modules>
        <Fedobe_Avatar_Carousel>
            <version>1.0.1</version>
        </Fedobe_Avatar_Carousel>
    </modules>
<!--    <adminhtml>
        <layout>
            <updates>
                <carousel module="Fedobe_Avatar_Carousel">
                    <file>fedobecarousel.xml</file>
                </carousel>
            </updates>
        </layout>
    </adminhtml>-->
    <frontend>
        <layout>
            <updates>
                <carousel module="Fedobe_Avatar_Carousel">
                    <file>fedobecarousel.xml</file>
                </carousel>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <carousel>
                <class>Fedobe_Avatar_Carousel_Model</class>
                <resourceModel>fedobe_carousel_resource</resourceModel>
            </carousel>
            <fedobe_carousel_resource>
                <class>Fedobe_Avatar_Carousel_Model_Resource</class>
                <entities>
                    <globaloptions>
                        <table>fedobe_global_settings</table>
                    </globaloptions>
                    <moduleuniquename>
                        <table>fedobe_module_unique_name</table>
                    </moduleuniquename>
                    <designattributes>
                        <table>fedobe_design_attribute_name</table>
                    </designattributes>
                    <designattributesvalue>
                        <table>fedobe_design_attribute_value</table>
                    </designattributesvalue>
                </entities>
            </fedobe_carousel_resource>
        </models>
        <resources>
            <fedobe_carousel_setup>
                <setup>
                    <module>Fedobe_Avatar_Carousel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fedobe_carousel_setup>
            <fedobe_carousel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fedobe_carousel_write>
            <fedobe_carousel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fedobe_carousel_read>
        </resources>
        <blocks>
            <carousel>
                <class>Fedobe_Avatar_Carousel_Block</class>
            </carousel>
        </blocks>
        <helpers>
            <carousel>
                <class>Fedobe_Avatar_Carousel_Helper</class>
            </carousel>
        </helpers>
    </global>
    <default>
        <avatar_modules>
            <general>
                <enable_module>1</enable_module>
                <global_setting>default</global_setting>
                <product_type>recently-added</product_type>
                <include_jquery>0</include_jquery>
                <show_product_name>0</show_product_name>
                <show_product_sku>0</show_product_sku>
                <show_product_price>0</show_product_price>
                <show_product_addtocart>0</show_product_addtocart>
                <show_product_label>0</show_product_label>
                <show_discount_percentage>0</show_discount_percentage>
                <carousel_custom_setting_enable>0</carousel_custom_setting_enable>
                <items>6</items>
                <slider_speed>200</slider_speed>
                <pagination_speed>200</pagination_speed>
                <auto_play>0</auto_play>
                <stop_on_hover>0</stop_on_hover>
                <navigation_button>0</navigation_button>
                <navigation_button_position>topright</navigation_button_position>
                <show_pagination>1</show_pagination>
                <lazy_load>1</lazy_load>
                <custom_style_setting_enable>0</custom_style_setting_enable>
                <new_price_color>#FFFFFF</new_price_color>
            </general>
        </avatar_modules>
        <global_options>
            <general>
                <global_setting>classic</global_setting>
            </general>
            <advance>
                <advance_global_setting_enable>0</advance_global_setting_enable>
                <text_color></text_color>
                <link_color></link_color>
                <link_hover_color></link_hover_color>
                <button_background_color></button_background_color>
                <button_text_color></button_text_color>
                <button_hover_color></button_hover_color>
                <button_hover_text_color></button_hover_text_color>
            </advance>
        </global_options>
    </default>
</config>