<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fedobe_Imggallery>
            <version>0.1.0</version>
        </Fedobe_Imggallery>
    </modules>
    <frontend>
        <routers>
            <imggallery>
                <use>standard</use>
                <args>
                    <module>Fedobe_Imggallery</module>
                    <frontName>imggallery</frontName>
                </args>
            </imggallery>
        </routers>
    </frontend>
    <admin>
        <routers>
            <imggallery>
                <use>admin</use>
                <args>
                    <module>Fedobe_Imggallery</module>
                    <frontName>imggallery</frontName>
                </args>
            </imggallery>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <imggallery>
                    <file>imggallery.xml</file>
                </imggallery>
            </updates>
        </layout>
    </adminhtml>
    <global>
         
        <blocks>
            <imggallery>
                <class>Fedobe_Imggallery_Block</class>
            </imggallery>
        </blocks>
        <helpers>
            <imggallery>
                <class>Fedobe_Imggallery_Helper</class>
            </imggallery>
        </helpers>
        <models>
            <imggallery>
                <class>Fedobe_Imggallery_Model</class>
                <resourceModel>imggallery_resource</resourceModel>
            </imggallery>
            <imggallery_resource>
                <class>Fedobe_Imggallery_Model_Resource</class>
                <entities>
                    <imgdetails>
                         <table>imgdetails</table>
                    </imgdetails>
                    
                </entities>
            </imggallery_resource>
        </models>
        <resources>
            <imggallery_setup>
                <setup>
                    <module>Fedobe_Imggallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imggallery_setup>
            <imggallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imggallery_write>
            <imggallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imggallery_read>
        </resources>
    </global>
 
</config>