<?xml version="1.0"?>
<config>
    <modules>
        <Fedobe_Barter_Manufacturers>
            <version>1.0.0</version>
        </Fedobe_Barter_Manufacturers>
    </modules>
    <admin>
        <routers>
            <manufacturers>
                <use>admin</use>
                <args>
                    <module>Fedobe_Barter_Manufacturers</module>
                    <frontName>manufacturers</frontName>
                </args>
            </manufacturers>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <manufacturers>
                    <file>fedobe_manufacturers.xml</file>
                </manufacturers>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Fedobe_Barter_Manufacturers>
                    <files>
                        <default>Fedobe_Barter_Manufacturers.csv</default>
                    </files>
                </Fedobe_Barter_Manufacturers>
            </modules>
        </translate>
        <layout>
            <updates>
                <manufacturers>
                    <file>fedobe_manufacturers.xml</file>
                </manufacturers>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <manufacturers>
                        <type>model</type>
                        <class>manufacturers/observer</class>
                        <method>insertBlock</method>
                    </manufacturers>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <global>
        <blocks>
            <attributeSplash>
                <rewrite>
                    <!--adminhtml_page_edit_tab_images>Fedobe_Barter_Manufacturers_Block_Adminhtml_Page_Edit_Tab_Images</adminhtml_page_edit_tab_images-->
                    <!--<adminhtml_page_edit_tab_general>Fedobe_Barter_Manufacturers_Block_Adminhtml_Page_Edit_Tab_General</adminhtml_page_edit_tab_general>-->
                </rewrite>
            </attributeSplash>
            <catalog>
                <rewrite>
                    <product_list>Fedobe_Barter_Manufacturers_Block_Product_List</product_list>
                </rewrite>
            </catalog>
            <manufacturers>
                <class>Fedobe_Barter_Manufacturers_Block</class>
            </manufacturers>
        </blocks>
        <models>
            <manufacturers>
                <class>Fedobe_Barter_Manufacturers_Model</class>
                <resourceModel>fedobe_manufacturers</resourceModel>
            </manufacturers>
        </models>
        <helpers>
            <manufacturers>
                <class>Fedobe_Barter_Manufacturers_Helper</class>
            </manufacturers>
        </helpers>
        <resources>
            <manufacturers_setup>
                <setup>
                    <module>Fedobe_Barter_Manufacturers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </manufacturers_setup>
            <manufacturers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </manufacturers_write>
            <manufacturers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </manufacturers_read>
        </resources>
    </global>
    <default>
        <manufacturers>
            <general>
                <attr_code>manufacturer</attr_code>
                <brand_page_url_slug>brand</brand_page_url_slug>
                <brand_page_thumb_upload_resize>1</brand_page_thumb_upload_resize>
                <brand_page_load_external_jquery>0</brand_page_load_external_jquery>
                <resize_thumbnail_width>120</resize_thumbnail_width>
                <resize_thumbnail_height>60</resize_thumbnail_height>
            </general>
            <brand_view>
                <total_brands_found_in_brand_page>1</total_brands_found_in_brand_page>
                <filter_brand_page_by_labels>1</filter_brand_page_by_labels>
                <filter_brand_by_alphabets_or_numbers>1</filter_brand_by_alphabets_or_numbers>
                <manufacturers_brand_view_brand_display_type>text</manufacturers_brand_view_brand_display_type>
                <manufacturers_brand_view_show_label_brand>0</manufacturers_brand_view_show_label_brand>
                <brand_page_image_width>200</brand_page_image_width>
                <brand_page_image_height>100</brand_page_image_height>
                <brand_page_image_aspect_ratio>0</brand_page_image_aspect_ratio>
            </brand_view>
            <brandpage_design_settings>
                <brand_sticker_labels>FEATURE,POPULAR,NEW,SALE,HOT</brand_sticker_labels>
                <brand_sticker_labels_color>#00A4BB,#015A5C,#FFDE00,#E41821,#FF4444</brand_sticker_labels_color>
                <brand_sticker_labels_text_color>#FFFFFF,#FFFFFF,#000000,#FFFFFF,#FFFFFF</brand_sticker_labels_text_color>
                <filter_section_background_color>#2D69AA</filter_section_background_color>
                <brandpage_text_color>#FFFFFF</brandpage_text_color>
                <brandpage_current_active_background_color>#FF6600</brandpage_current_active_background_color>
                <brandpage_current_active_text_color>#000000</brandpage_current_active_text_color>
                <brandpage_filter_tab_button_color>#9E9E9E</brandpage_filter_tab_button_color>
                <brandpage_filter_tab_button_hover_color>#B3B3B3</brandpage_filter_tab_button_hover_color>
                <brand_images_border_options>1</brand_images_border_options>
                <brand_images_border_color>#CCCCCC</brand_images_border_color>
                <brand_images_border_style>line</brand_images_border_style>
                <dispaly_brand_item_stickers>1</dispaly_brand_item_stickers>
                <brandpage_filter_tab_button_hover_text_color>#FFFFFF</brandpage_filter_tab_button_hover_text_color>
                <thumb_w>100</thumb_w>
                <thumb_h>50</thumb_h>
                <dimension_spec>1</dimension_spec>
            </brandpage_design_settings>
            <product_page_brand_settings>
                <brand_use_in_product_page>1</brand_use_in_product_page>
                <brand_images_use_in_product_page>1</brand_images_use_in_product_page>
                <brand_images_dimension_settings_in_product_page>1</brand_images_dimension_settings_in_product_page>
                <brand_description_text_in_product_page>1</brand_description_text_in_product_page>
                <show_related_brand_items_in_product_page>1</show_related_brand_items_in_product_page>
                <related_brand_item_product_name_in_product_page>1</related_brand_item_product_name_in_product_page>
                <related_brand_item_product_price_in_product_page>1</related_brand_item_product_price_in_product_page>
                <related_brand_item_product_add_to_cart_in_product_page>1</related_brand_item_product_add_to_cart_in_product_page>
                <related_brand_items_title_in_product_page>From Same Brand</related_brand_items_title_in_product_page>
                <related_brand_items_quantity_in_product_page>10</related_brand_items_quantity_in_product_page>
                <related_brand_item_product_slider_settings_move_auto>1</related_brand_item_product_slider_settings_move_auto>
                <related_brand_item_product_slider_settings_hover_effect>1</related_brand_item_product_slider_settings_hover_effect>
                <related_brand_item_product_slider_settings_pauseonmouse>1</related_brand_item_product_slider_settings_pauseonmouse>
                <related_brand_item_product_slider_settings_time_out>2000</related_brand_item_product_slider_settings_time_out>
                <related_brand_item_product_slider_settings_breakpoints>[0, 1], [320, 2], [480, 2], [768, 3], [960, 4], [1280, 5]</related_brand_item_product_slider_settings_breakpoints>
                <brand_image_width_in_product_page>120</brand_image_width_in_product_page>
                <brand_image_height_in_product_page>60</brand_image_height_in_product_page>
            </product_page_brand_settings>
            <category_page_brand_logo_settings>
                <show_brand_image_logo_in_category_page_item>1</show_brand_image_logo_in_category_page_item>
                <category_page_brand_display_type>text</category_page_brand_display_type>
                <category_page_brand_image_width>60</category_page_brand_image_width>
                <category_page_brand_image_height>35</category_page_brand_image_height>
            </category_page_brand_logo_settings>
        </manufacturers>
    </default>
</config> 