<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Fedobe_StoreLocator>
            <version>1.2.1</version>
        </Fedobe_StoreLocator>
    </modules>
    <global>
        <models>
            <storelocator>
                <class>Fedobe_StoreLocator_Model</class>
                <resourceModel>storelocator_mysql4</resourceModel>
            </storelocator>
            <storelocator_mysql4>
                <class>Fedobe_StoreLocator_Model_Resource</class>
                <entities>
                    <location>
                        <table>store_location</table>
                    </location>
                </entities>
            </storelocator_mysql4>
        </models>        
        <blocks>
            <storelocator>
                <class>Fedobe_StoreLocator_Block</class>
            </storelocator>
        </blocks>
        <helpers>
            <storelocator>
                <class>Fedobe_StoreLocator_Helper</class>
            </storelocator>
        </helpers>
        <resources>
            <storelocator_setup>
                <setup>
                    <module>Fedobe_StoreLocator</module>               
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storelocator_setup>
            <storelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocator_write>
            <storelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocator_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <storelocator>
                <use>standard</use>
                <args>
                    <module>Fedobe_StoreLocator</module>
                    <frontName>storelocator</frontName>
                </args>
            </storelocator>            
        </routers> 
        <layout>
            <updates>
                <storelocator module="Fedobe_StoreLocator">
                    <file>fedobe/storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
    </frontend>   
    <admin>
        <routers>
            <storelocator>
                <use>admin</use>
                <args>
                    <module>Fedobe_StoreLocator</module>
                    <frontName>storelocator</frontName>
                </args>
            </storelocator>
        </routers>     
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <storelocator>
                    <file>fedobe/storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <storelocation>
            <settings>
                <location_view>Standard</location_view>
                <zoom_level>15</zoom_level>
                <custome_search>0</custome_search>
                <map_before_search>1</map_before_search> 
                <radius_options>100,150,200</radius_options>
            </settings>
        </storelocation>
    </default>
</config>